.container-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Auth-text:hover{
    cursor: pointer;
}

.btn-auth:hover{
    cursor: pointer;
}