
.row-category{
    margin:0
}

.nav-link {
  color: black;
  align-self: center;
}

.nav-link:active {
  color: #B8907A;
 }

.category-title {
  margin-bottom: 20px;
  text-align: center;
}

.category-title-smaller{
  text-align: center;
}

.card-body-title{
  padding-left: 0;
}