
.card-img-top {
    flex-grow: 1;
  }

.row-jewellery {
 display: flex;
 width: 100%;
 justify-content: start;
 align-items: stretch;
 margin-left: 0;
 margin-top: 0;
}


.card-body{
    flex: 1;
}

.row-category{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container-category{
    height:auto;
}

.category-img{
    border-radius: 50%;
    border: 1px solid rgb(0,0,0,0.125);
}

.card-category{
    border: 0;
}

.category-title{
    padding-top: 20px;
}

.category-link{

    display: block;
    
}