

.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-control{

    margin-bottom: 2rem;
}

.btn-primary{
    text-align: center;
}

.checkout-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}