.btn-price {
  margin: 0;
  background-color: transparent;
  color: black;
  font-weight: normal;
  font-size: large;
  border: none;
  text-align: left;
  position: relative;
}

.btn-price:hover {
  background-color: #B8907A;
  color: transparent;
  border-radius: 0;
}

.btn-price::after {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%); /*center the text*/
  content: "Add to Bag";
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  font-size: x-large;
  font-weight: bolder;
}

.btn-price:hover::after {
  opacity: 1;
}
