.small-banner{
    background-color: #BFB688;
}

.small-banner > p{
  text-align: center;
  padding: 10px;
  margin: 0;
}

.banner-container {
  position: relative;
  height: 800px;
  background-image: url("https://kokoandco.s3.ap-southeast-2.amazonaws.com/Home+page/Untitled+design.png"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Add a dark overlay */
  color: #fff;
  padding-left: 20px;
}

h1,
p {
  margin-bottom: 20px;
}

.banner-text {
  position: absolute;
  left: 20px;
  width: 30%;
}

.btn-primary {
  background-color: black;
  border-color: black;
  text-align: start;
}

.row-category{
    margin:0
}

.nav-link {
  color: black;
  align-self: center;
}

.category-title {
  margin: 20px;
}
.card-carousel {
  border: 0;
}
.g-0 {
  margin-top: 50px;
  background-color: #bfb688;
}

.carousel-control-next:hover{
  background-color: transparent;
  border: 0;
}

.carousel-control-prev:hover{
  background-color: transparent;
  border: 0;
}